<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loha.flippedclassroom.mapper.QuestionMapper">
    <resultMap id="questionMap" type="Question">
        <id column="id" property="id"/>
        <result column="klass_seminar_id" property="klassSeminarId"/>
        <result column="attendance_id" property="attendanceId"/>
        <result column="team_id" property="teamId"/>
        <result column="student_id" property="studentId"/>
        <result column="is_selected" property="selected"/>
        <result column="score" property="score"/>

        <association property="team" select="com.loha.flippedclassroom.mapper.TeamMapper.selectTeamById" column="team_id"></association>
        <association property="student" select="com.loha.flippedclassroom.mapper.StudentMapper.selectStudentById" column="student_id"></association>
    </resultMap>

   <insert id="insertQuestion" parameterType="Question">
       insert into question(klass_seminar_id,attendance_id,team_id,student_id,is_selected)
       values (#{klassSeminarId},#{attendanceId},#{teamId},#{studentId},#{selected})
   </insert>

    <select id="selectQuestionUnderCurTeamPre" parameterType="Question" resultMap="questionMap">
        select * from question
        where klass_seminar_id=#{klassSeminarId} and attendance_id=#{attendanceId} and is_selected=#{selected}
    </select>

    <update id="updateQuestionStatus" parameterType="Question">
        update question
        set is_selected=#{selected}
        where klass_seminar_id=#{klassSeminarId} and attendance_id=#{attendanceId} and student_id=#{studentId}
    </update>

    <update id="updateQuestionScore" parameterType="Question">
        update question
        set score=#{score}
        where id=#{id}
    </update>

    <select id="selectMaxTeamQuestionScore" parameterType="Question" resultType="java.math.BigDecimal">
        select max(score) from question
        where klass_seminar_id=#{klassSeminarId} and team_id=team_id
    </select>


</mapper>